# This is for Hostmonster hosting.
# In this case, the primary domain on the host is rowdyrabbit.com.
# This site lives in a subfolder, called "docroot", within the directory which 
# the domain is configured to use.
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?loopduplicate.com$
RewriteCond %{REQUEST_URI} !^/docroot/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /docroot/$1
RewriteCond %{HTTP_HOST} ^(www.)?loopduplicate.com$
RewriteRule ^(/)?$ docroot/index.php [L]
RewriteCond %{HTTP_HOST} ^loopduplicate\-com\.rowdyrabbit\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.loopduplicate\-com\.rowdyrabbit\.com$
RewriteRule ^/?$ "http\:\/\/loopduplicate\.com" [R=301,L]