.search-results-pane {
  .search-result {
    @include background-image(linear-gradient(to right, $brand-primary, $body-bg));
    padding-top: 3px;
    margin-top: .3em;
  }
  article {
    background: $body-bg;
  }
  [property="dc:title"] {
    font-size: $font-size-h4;
    margin-top: 0;
    margin-bottom: .2em;
    padding-top: .2em;
  }
}
.search-filter-pane {
  display: inline-block;
  vertical-align: top;
}
.search-toggle-filters {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: -15px;
}
