h1 {
  color: $btorange-dark;
  font-weight: bold;
  @include breakpoint(max-width $screen-sm) {
    font-size: 24px;
  }
}
h2, h3, h4, h5, h6 {
  color: $dark;
  font-weight: bold;
  line-height: 1.3em;
}
button,
.button {
  background-color: $btorange;
  @include background-image(linear-gradient($btorange, $btorange-dark));
  border: 1px solid #ddd;
  @include border-radius(5px);
  color: #fff;
  font-size: 16px;
  height: 30px;
  min-width: 60px;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
}
input[disabled="disabled"] {
  @include opacity(.5);
}
